.header {
  padding-top: 27px;
  padding-bottom: 46px;
}

.header__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 4fr;
  grid-template-rows: 61px;
  column-gap: 10px;
  align-items: center;
  grid-template-areas: "logo menu search nav";
  background-color: var(--main-color);
}

.btn {
  border: none;
  background-color: transparent;
}

.header__logo {
  grid-area: logo;
  align-self: flex-end;
  padding: 3px 0;
}

.header__link-menu {
  position: relative;
  justify-self: center;
  grid-area: menu;
  max-width: 151px;
  padding: 10px 32px 11px 58px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%; 
  color: var(--main-color, #ffffff);
  background-color: var(--blue-color, #3670c7);
  border: none;
  border-radius: 10px;
}

.header__link-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 24px;
  height: 24px;
  background-image: url('../img/sort.svg');
  background-repeat: no-repeat;
}

.header__form {
  grid-area: search;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  align-self: center;
  max-width: 757px;
}

.form__input {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 14px 39px;
  font-family: 'Lato', Ariar, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  border: none;
  border-radius: 30px;
  background-color: var(--main-bg-color);
}

.form__input::placeholder {
  color: var(--gray-color, #8f8f8f);
}

.form__btn {
  justify-self: end;
  padding: 9px 33px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  line-height: 0;
  border: none;
  border-radius: 30px;
  background-color: var(--blue-color);
}

.header__navigation {
  justify-self: end;
  grid-area: nav;
  max-width: 354px;
  padding-left: 1px;
}

.header__nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  justify-items: center;
  justify-content: space-between;
}

.header__nav-item {
  text-align: center;
}

.nav-list__link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.nav-list__text {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--second-color,#2D2D2D);
}


@media (max-width: 1640px) {
  .header {
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .header__container {
    grid-template-columns: 3fr 5fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "logo logo nav"
      "menu search search";
    column-gap: 10px;
    row-gap: 29px;
  }


  .header__logo {
    max-width: 190px;
    padding-bottom: 6px;
  }

  .header__link-menu {
    justify-self: unset;
    padding-left: 60px;
  }

  .header__nav-list {
    max-width: 294px;
    column-gap: 40px;
  }

  .header__btn-menu {
    justify-self: start;
    padding: 9px 29px 11px 61px;
  }

  .form__input {
    padding-left: 40px;
  }

  .form__btn {
    align-self: flex-end;
  }
}

@media (max-width: 950px) {
  .header {
    padding-top: 25px;
    padding-bottom: 24px;
  }

  .header__container {
    grid-template-columns: 2fr 4fr 3fr;
    row-gap: 26px;
  }

  .header__logo {
    max-width: 165px;
    height: 36px;
    align-self: center;
    padding: 5px 0;
  }

  .header__link-menu {
    max-width: 115px;
    padding: 8px 22px 10px 49px;
    font-size: 16px;
    border-radius: 6px;
  }

  .header__link-menu::before {
    left: 21px;
  }

  .form__input {
    padding: 11px 30px 15px;
    font-size: 12px;
  }

  .form__btn {
    padding: 6px 26px;
  }

  .btn__search {
    height: 30px;
    width: 30px;
  }

  .header__nav-list {
    max-width: 221px;
    gap: 30px;
  }

  .header__nav-item {
    position: relative;
  }

  .nav-list__btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    height: 30px;
    width: 30px;
  }

  .header__navigation {
    align-self: flex-start;
  }

  .nav-list__link {
    gap: 0;
  }

  .nav-list__svg {
    height: 30px;
  }

  .nav-list__text {
    font-size: 12px;
  }

}

@media (max-width: 540px) {
  .header {
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .header__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0;
    grid-template-areas: 
      "logo ."
      "menu nav"
      "search search";
    align-items: self-end;
    height: 125px;
  }

  .header__logo {
    max-width: 114px;
    height: 29px;
    align-self: flex-start;
  }

  .header__link-menu {
    max-width: 79px;
    align-self: flex-start;
    padding: 7px 14px 7px 31px;
    font-size: 12px;
    border-radius: 4px;
  }

  .header__form {
    align-self: flex-end;
  }

  .header__link-menu::before {
    left: 14px;
    height: 16px;
    width: 16px;
    background-size: contain;
  }

  .header__nav-list {
    max-width: 130px;
    align-items: center;
    gap: 19px;
  }

  .header__nav-item {
    padding: 0;
    line-height: 0;
  }

  .nav-list__btn {
    position: relative;
  }

  .nav-list__text {
    display: none;
  }

  .form__input {
    padding: 9px 16px 11px;
    font-size: 8px;
  }

  .form__btn {
    padding: 5px 15px;
  }

  .btn__search {
    height: 20px;
    width: 20px;
  }
}