.hero {
  padding-top: 45px;
  padding-bottom: 30px;
}

.hero__content {
  height: 480px;
  padding: 40px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner-one.jpeg) no-repeat center;
  background-size: 109% 278%;
  background-position-x: 0px;
  border-radius: 20px;
}


.hero__title {
  margin-bottom: 80px;
  padding-top: 106px;
  padding-left: 72px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  color: var(--main-color, #ffffff);
}

.hero__timer {
  max-width: min-content;
  margin: 0 auto;
  text-align: center;
  color: var(--main-color, #ffffff);
}

@media (max-width: 1440px) {

  .hero {
    padding-top: 24px;
    padding-bottom: 11px;
  }

  .hero__content {
    height: 314px;
    border-radius: 16px; background-size: cover;
  }

  .hero__title {
    margin-bottom: 63px;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 40px;
  }


}

@media (max-width: 950px) {
  .hero__content {
    height: 280px;
  }

  .hero__title {
    margin-bottom: 82px;
    padding-top: 25px;
    font-size: 30px;
  }


}

@media (max-width: 640px) {
  .hero {
    padding-bottom: 10px;
  }

  .hero__content {
    height: 340px;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    background-position-x: -100px;
  }


  .hero__title {
    margin-bottom: 182px;
    padding-top: 50px;
    padding-left: 0;
    font-size: 22px;
  }
}
