.hero {
  padding-top: 45px;
  padding-bottom: 30px;
}

.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 336px 104px;
  grid-template-areas: 
  'title .'
  'timer timer';
  justify-items: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/banner.jpg') no-repeat center;
  background-size: 109% 278%;
  background-position-x: 0px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.hero__title {
  padding-top: 45px;
  padding-left: 45px;
  grid-area: title;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  color: var(--main-color, #ffffff);
}

.hero__timer {
  grid-area: timer;
}