.cards {
  padding-top: 30px;
  padding-bottom: 140px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/3 - 60px * 2), 1fr));
  grid-template-rows: repeat(2, 516px);
  justify-content: center;
  row-gap: 60px;
  column-gap: 60px;
  grid-auto-flow: dense;
}

.cards__item {
  display: grid;
}

.cards__item_size_two-colums {
  grid-column: span 2;
}

.cards__item-box-one,
.cards__item-box-three,
.cards__item-box-five {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(2, minmax(228px, 1fr));
  column-gap: 60px;
  row-gap: 26px;
}

.card_size_two-rows {
  grid-row: span 2;
}

.card_size_two-columns {
  grid-column: span 2;
}

.card {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__box-1 { 
  padding-bottom: 29px;
  background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url(../img/block-1.jpg) no-repeat center;
  background-size: cover;
}

.card__box-2 {
  align-items: flex-start;
  padding-top: 76px;
  padding-left: 14px;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../img/block-2.jpg) no-repeat center;
  background-size: cover;
}

.card__box-3 {
  align-self: end;
  max-height: 228px;
  background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%), url(../img/block-3.jpg) no-repeat center;
  background-size: cover;
  background-position-y: 65%;
}

.card__box-4 {
  max-width: 516px;
  justify-self: end;
  padding-bottom: 21px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(../img/block-4.jpg) no-repeat center;
  background-size: 107% 144%;
  background-position-x: -7%;
}

.card__box-5 {
  max-height: 228px;
  padding: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url(../img/block-5.jpg) no-repeat center;
  background-size: cover;
  background-position-y: 63%;
}

.card__box-6 {
  align-self: end;
  padding: 30px 30px 38px;
  max-height: 228px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url(../img/block-6.jpg) no-repeat center;
  background-size: cover;
  background-position-y: 56%;
}

.card__box-7 {
  padding: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(../img/block-7.jpg) no-repeat center;
  background-size: cover;
  background-position-y: 59%;
}

.card__box-8 {
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../img/block-8.jpg) no-repeat center;
  background-size: cover;
}

.card__box-9 {
  padding-bottom: 37px;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../img/block-9.jpg) no-repeat center;
  background-size: cover;
  background-position-x: 72%;
}

.card__box-10 {
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../img/block-110.jpg) no-repeat center;
  background-size: cover;
}

/*------------------------ТЕКСТ ВНУТРИ КАРТОЧЕК--------------------*/
.card__subitle {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  color: var(--main-color, #ffffff);
}

.card__subitle_size_text-medium {
  font-size: 40px;
}

.card__subitle_size_text-large {
  font-size: 56px;
}

.card__subitle_size_text-line-heigth {
  line-height: 120%;
}

.card__subitle_weigt_bold {
  font-weight: 700;
}

.card__subitle_box-4 {
  padding: 24px 20px 25px;
  font-size: 40px;
  background-color:#38c0eb;
  border-radius: inherit;
}

.card__subitle_box-5 {
  font-size: 40px;
  font-weight: 700;
}

.card__subitle_box-6 {
  font-size: 40px;
  font-weight: 700;
}

.card__subitle_box-7 {
  padding: 30px 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: var(--pink-color, #f91155);
  text-transform: uppercase;
  background-color:var(--main-color, #ffffff);
  border-radius: inherit;
}

.card__subitle_box-9 {
  font-weight: 700;
}

/*------------------------Скидка--------------------*/
.card__discount {
  position: absolute;
  padding: 24px 8px;
  width: 88px;
  height: 88px;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  border-radius: 50%;
  color: var(--main-color, #ffffff);
  background-color: var(--orange-color, #ffbd13);
}

.card__discount_position_top-left,
.card__discount_position-box-9 {
  top: 20px;
  left: 20px;
}

.card__discount_position_bottom-right,
.card__discount_position-box-8 {
  right: 20px;
  bottom: 22px;
}

.card__discount_position-box-2 {
  right: 20px;
  bottom: 28px;
}

@media (max-width: 1440px) {
.cards {
  padding-top: 11px;
}

  .cards__list {
    grid-template-columns: minmax(464px, 1fr)  1fr;
    grid-template-rows:   446px 410px 450px;
    row-gap: 22px;
    column-gap: 30px;
  }

  .cards__item-box-one,
  .cards__item-box-three,
  .cards__item-box-five {
    grid-template-columns: repeat(2, minmax(156px, 1fr));
    grid-template-rows: repeat(2, minmax(156px, 1fr));
    column-gap: 60px;
    row-gap: 22px;
  }

  .cards__item-box-four {
    order: 5;
  }

  .cards__item-box-one {
    row-gap: 4px;
  }

  .cards__item-box-five {
    row-gap: 18px;
    column-gap: 34px;
  }

  .card__box-1 { 
    max-height: 202px;
    padding-bottom: 33px;
    padding-left: 9px;
    padding-right: 1px;
  }
  
  .card__box-2 {
    max-height: 202px;
    padding-top: 55px;
  }

  .card__box-3 {
    background-position-y: 63%;
    background-size: 100% 161%;
  }

  .card__box-4 {
  padding-bottom: 19px;
  }
  
  .card__box-5 {
    padding-right: 50px;
    padding-bottom: 28px;
  }
  
  .card__box-6 {
    padding-bottom: 36px;
  }
  
  .card__box-7 {
    max-height: 418px;
    align-self: self-end;
    padding-bottom: 38px;
    padding-left: 30px;
  }
  
  .card__box-8 {
    background-size: cover;
    background-position-y: 9%;
  }
  
  .card__box-9 {
    max-width: 196px;
    justify-self: self-end;
    padding-left: 5px;
    padding-right: 2px;
    padding-bottom: 18px;
  }

  .card__box-10 {
    max-width: 196px;
    justify-self: self-end;
  }

  /*-------------------------------------------ТЕКСТ----------------------*/
  .card__subitle {
    font-size: 24px;
  }
  
  .card__subitle_size_text-medium {
    font-size: 30px;
  }
  
  .card__subitle_size_text-large {
    font-size: 40px;
  }
  
  .card__subitle_size_text-line-heigth {
    line-height: 120%;
  }
  
  .card__subitle_weigt_bold {
    font-weight: 700;
  }

  .card__subitle_box-4 {
    padding: 23px 24px 34px;
    font-size: 30px;
  }

  .card__subitle_box-5 {
    font-size: 30px;
  }

  .card__subitle_box-6 {
    font-size: 30px;
  }
  
  .card__subitle_box-7 {
    padding: 24px 47px;
    font-size: 30px;
  }


  .card__subitle_box-9 {
    font-size: 20px;
  }

/*-----------------------------Скидки----------------------*/
  .card__discount_position_top-left {
    top: 18px;
    left: 10px;
  }
  
  .card__discount_position_bottom-right {
    right: 10px;
    bottom: 10px;
  }

  .card__discount_position-box-2 {
    right: 10px;
    bottom: 10px;
  }

  .card__discount_position-box-8 {
    right: 22px;
    bottom: 10px;
  }

  .card__discount_position-box-9 {
    top: 10px;
    left: 6px;
  }
}
/*-----------------------------------------------------------*/
@media (max-width: 950px) {
  .cards {
    padding-top: 29px;
  }

  .cards__list {
    grid-template-columns: 4fr 5fr;
    grid-template-rows:   repeat(12, 48px) 360px;
    row-gap: 0px;
    column-gap: 20px;
  }

  .cards__item-box-one {
    max-height: 278px;
    grid-row: span 6;
  }

  .cards__item-box-three {
    max-height: 274px;
    grid-row: span 6;
    align-self: flex-end;
  }

  .cards__item-box-two {
    max-height: 380px;
    grid-row: span 8;
  }

  .cards__item-box-five {
    grid-row: span 4;
  }

  .cards__item-box-one,
  .cards__item-box-three {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(126px, 1fr));
    column-gap: 40px;
    row-gap: 22px;
  }

  .cards__item-box-five {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(83px, 1fr));
    gap: 0;
  }

  .card {
    border-radius: 12px;
  }

  .card__box-1 {
    padding-bottom: 14px;
  }

  .card__box-2 {
    padding: 15px 6px;
  }

  .card__box-3 {
    max-height: 126px;
  }

  .card__box-4 {
    padding: 10px 7px;
    background-size: 101% 125%;
  }

  .card__box-5 {
    max-height: 126px;
    padding: 19px 75px 21px 21px;
  }

  .card__box-6 {
    max-height: 126px;
    align-self: flex-end;
    padding: 23px 22px;
  }

  .card__box-7 {
    max-height: 337px;
    align-self: flex-end;
    padding-bottom: 29px;
    padding-left: 26px;
    background-position-y: 72%;
  }

  .card__box-8 {
    max-height: 174px;
    align-self: flex-end;
    justify-self: center;
  }

  .card__box-9 {
    max-height: 83px;
    max-width: 82px;
    align-self: flex-end;
    justify-self: center;
    padding: 11px 2px;
    margin-left: -3px;
    margin-bottom: -1px;
  }

  .card__box-10 {
    max-height: 83px;
    max-width: 82px;
    align-self: flex-end;
    justify-self: center;
    margin-left: -3px;
    margin-bottom: 3px;
  }

/*---------------------------ТЕКСТ---------------*/
  .card__subitle {
    font-size: 20px;
    line-height: 110%;

  }

  .card__subitle_size_text-medium {
    font-size: 26px;
  }
  
  .card__subitle_size_text-large {
    font-size: 26px;
  }
  
  .card__subitle_size_text-line-heigth {
    line-height: 120%;
  }
  
  .card__subitle_weigt_bold {
    font-weight: 700;
  }

  .card__subitle_box-2 {
    font-size: 16px;
    line-height: 130%;
  }

  .card__subitle_box-4 {
    padding: 12px 30px 18px 27px;
    font-size: 16px;
  }

  .card__subitle_box-5 {
    font-size: 16px;
  }

  .card__subitle_box-6 {
    font-size: 16px;
  }
  
  .card__subitle_box-7 {
    padding: 23px 34px;
    font-size: 20px;
    color: var(--pink-color, #f91155);
    text-transform: uppercase;
    background-color:var(--main-color, #ffffff);
    border-radius: inherit;
  }

  .card__subitle_box-9 {
    font-size: 12px;
  }

  .card__discount {
    padding: 13px 7px;
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
  
  .card__discount_position_top-left {
    top: 10px;
    left: 9px;
  }
  
  .card__discount_position_bottom-right {
    right: 12px;
    bottom: 12px;
  }

  .card__discount_position-box-2 {
    right: 12px;
    bottom: 8px;
}

  .card__discount_position-box-8 {
    right: 10px;
    bottom: 10px;
}

  .card__discount_position-box-9 {
    width: 36px;
    height: 36px;
    padding: 9px 4px;
    font-size: 12px;
    top: 4px;
    left: 2px;
  }

}

@media (max-width: 640px) {
  .cards {
    padding-top: 10px;
    padding-bottom: 71px;
  }

  .cards__list {
    grid-template-columns: 280px;
    grid-template-rows:   268px 280px 254px 280px 123px;
    row-gap: 20px;
  }

  .cards__item-box-one {
    grid-row: span 1;
  }

  .cards__item-box-three {
    grid-row: span 1;
  }

  .cards__item-box-two {
    grid-row: span 1;
  }

  .cards__item-box-five {
    grid-row: span 1;
  }

  .cards__item-box-one,
  .cards__item-box-three,
  .cards__item-box-five  {
    max-height: 280px;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-template-rows: repeat(2, minmax(118px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 8px;
  }

  .cards__item_size_two-colums {
    grid-column: span 1;
  }

  .card {
    border-radius: 8px;
  }

  .card__box-1 { 
    min-height: 130px;
    padding-bottom: 11px;
    padding-right: 34px;
  }
  
  .card__box-2 {
    min-height: 130px;
    padding: 30px 10px
  }
  
  .card__box-3 {
    max-height: 118px;
    align-self: flex-end;
  }
  
  .card__box-4 {
    min-height: 280px;
    padding: 10px;
  }
  
  .card__box-5 {
    max-height: 118px;
    padding-bottom: 16px;
    padding-left: 10px;
  }
  
  .card__box-6 {
    max-height: 118px;
    padding-bottom: 16px;
    padding-left: 10px;
  }
  
  .card__box-7 {
    padding: 11px 15px;
    background-position-y: 64%;
  }
  
  .card__box-8 {
    min-height: 280px;
  }
  
  .card__box-9 {
    max-height: 130px;
    max-width: 130px;
    margin-bottom: 0;
    margin-left: 0;
    align-self: flex-start;
    background-position-x: 51%;
  }

  .card__box-10 {
    max-height: 130px;
    max-width: 130px;
    margin-bottom: 0;
    margin-left: 0;
  }
  /*-----------------------------------------Текст-----------------------*/

  .card__subitle {
    font-size: 12px;
  }
  
  .card__subitle_size_text-medium {
    font-size: 16px;
  }
  
  .card__subitle_size_text-large {
    font-size: 16px;
  }
  
  .card__subitle_size_text-line-heigth {
    line-height: 120%;
  }

  .card__subitle_box-2 {
    font-weight: 700;
  }

  .card__subitle_box-4 {
    padding-bottom: 11px;
    padding-top: 6px;
    padding-right: 23px;
  }

  .card__subitle_box-7 {
    font-size: 12px;
    padding: 8px 41px;
  }
  

  .card__discount_position_top-left {
    top: 5px;
    left: 5px;
  }
  
  .card__discount_position_bottom-right {
    right: 5px;
    bottom: 5px;
  }

  .card__discount_position-box-9 {
    padding: 13px 7px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    top: 5px;
    left: 5px;
  }
}