.timer {
  display: grid;
  grid-template-rows: min-content 78px;
  justify-content: space-between;
  align-content: center;
  gap: 5px 30px;
  grid-template-areas: 
  'title title title'
  'days hours minutes';
}

.timer__title {
  grid-area: title;
  justify-self: center;
  color: var(--main-color, #ffffff);
}

.timer__item {
  display: flex;
  gap: 6px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  height: 100%;
  align-items: baseline;
  color: var(--main-color, #ffffff);
}

.timer__item-days {
  grid-area: days;
}

.timer__units {
  font-size: 32px;
}

.timer__item-hours {
  grid-area: hours;
}

.timer__item-minutes {
  grid-area: minutes;
  }

  @media (max-width: 1440px) {

    .timer {
      grid-template-rows: min-content 52px;
      gap: 10px 20px;
    }

    .timer__item {
      font-size: 40px;
    }

    .timer__units {
      font-size: 20px;
    }
  }

  @media (max-width: 950px) {

    .timer {
      grid-template-rows: min-content 39px;
      gap: 5px;
    }

    .timer__title {
      font-size: 12px;
    }

    .timer__item {
      font-size: 30px;
    }

    .timer__units {
      font-size: 16px;
    }
  }

  @media (max-width: 640px) {

    .timer {
      grid-template-rows: min-content 26px;
      gap: 0px 5px;
    }

    .timer__title {
      font-size: 8px;
    }

    .timer__item {
      font-size: 20px;
    }

    .timer__units {
      font-size: 12px;
    }
  }
